.informacao-cpf {
    border-bottom: 1px solid lightgray;
    max-width: 220px;
}

.informacao-nome h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(143, 141, 141);
}

.red {
    color: rgba(231, 86, 42, 0.973);
}

.blue {
    color: rgba(13, 116, 134, 0.973);
}